.home{
    background-color: dimgray;
    min-height: 100vh;
    text-align: center;
}
input{
    border: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin: 0.2rem 0;
}
article{
    background-color: aliceblue;
    margin:  1rem;
    padding: 0.5rem;
}

section{
    background: rgb(114, 111, 117);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
    


